.container{
    background-color: #FFC45D;
    padding: 5%;
}
h3{
    text-align: center;
    color: #FE5743;
}
img{
    background-color: #FFC45D;
    width: 30%;
    height: 30%;
}
.pic{
    margin-left: 47%;
    margin-right: 30%;
}
.devour {
    color: black;
    background-color: #FFFEFF;
    margin-left: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
    /* float: right;  backg col #E8E8EE*/
}
.addBurger{
    width: 30%;
    margin: 5% 30% 5% 40%;
}