<li> 
    <span>{{burger_name}}
        <button class="btn btn-secondary btn-lg devour" data-isdevoured="{{devoured}}" data-id="{{id}}">Devour</button>
        {{!-- {{devoured}} --}}
    </span>
</li>